<mat-grid-list cols="10" rowHeight="2:1">
    <mat-grid-tile colspan="10">
        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput #inputTitle>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="10">
        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input matInput #inputDescription>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="10">
        <!-- <button mat-flat-button (click)="addTask(inputTitle.value, inputDescription.value)">Basic</button> -->
    </mat-grid-tile>
</mat-grid-list>

<button mat-flat-button>checked</button>
